<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <div>
            <a href="/home">Home</a>
            <h2>Manage your follow requests:</h2>
            <form action="/acceptFollow" method="post" enctype="multipart/form-data">
                <ul>
                {% for followrequest in followrequests %}
                    <li>
                        Follow request from: {{followrequest.followerUsername}}
                        <input type="radio" name="action{{followrequest.followerUsername}}" value="accept" checked> Accept
                        <input type="radio" name="action{{followrequest.followerUsername}}" value="decline"> Decline   
                     </li>
                {% endfor %}
                <br>
                <input type="submit" value="Submit">
            </ul>
            </form>
        </div>
    </body>
</html>