<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <div>
            <a href="/home">Home</a>
            <h2>Manage your follow requests:</h2>

            <form action='/acceptFollow' method="post" enctype="multipart/form-data"></form>
                {% for followrequest in followrequests %}
                    <li>
                        Follow request from: {{followrequest.followerUsername}}
                        <input type="radio" name="action{{followrequest.followerUsername}}" value="accept" checked> Accept
                        <input type="radio" name="action{{followrequest.followerUsername}}" value="decline"> Decline   
                     </li>
                {% endfor %}
                <br>
                <input type="submit" name = "action_submit" value="Submit">
            </form>
        </div>
    </body>
</html>